{% extends 'index.html' %}

{% load staticfiles %}

{% block title %}
  {{ detail_post.title }}
{% endblock title %}

{% block image_ppal %}
  {{ detail_post.image }}
{% endblock image_ppal %}

{% block title_ppal %}
    <h1>{{ detail_post.title }}</h1>
    <h2 class="subheading">{{ detail_post.description }}</h2>
    <span class="meta">Publicado por <strong>{{ detail_post.autor }}</strong> el {{ detail_post.date_create }}</span>
{% endblock title_ppal %}

{% block content %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ detail_post.content | safe }}
        </div>
      </div>
    </div>
  </article>
{% endblock content %}